<!DOCTYPE html>
<html>
  <head>
    <title>RGalery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "partials/navbar"%>   
    <%= render "partials/alert"%>   
    <div class="container">
      <%= yield %>
    </div>

    <footer>Copyright @copy; 2019, rGallery</footer>
  </body>
</html>
